<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 13+ media -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smart_Attendance_System"
        tools:targetApi="31">

        <activity android:name=".MarkAttendanceActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".StartAttendanceActivity" android:exported="false" />
        <activity android:name=".AddClassLocationActivity" android:exported="false" />
        <activity android:name=".TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" />
        <activity android:name=".CreateClassActivity" android:exported="false" />

        <!-- Launcher -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegistrationActivity" android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
